@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
    background-color: #020617; /* Void 900 */
    color: #e2e8f0;
    overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #020617; 
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3b82f6, #a855f7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #22d3ee, #ec4899);
}

::selection {
    background: rgba(34, 211, 238, 0.2);
    color: #fff;
}