@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
    background-color: #020617;
    color: #e2e8f0;
    overflow-x: hidden;
}

/* Utility for the glowing border animation */
.neon-border-glow {
    animation: neon-border 3s ease-in-out infinite alternate;
}

/* Premium Dark Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #020617; 
}
::-webkit-scrollbar-thumb {
    background: #1e293b; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #334155;
}